<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams" class="flex-container">
  <% @teams.each do |team| %>
    <div class="team-card">
      <%= render team %>
      <p>
        <%= link_to "In-Depth Team View", team %>
      </p>
    </div>
  <% end %>
</div>
