<p style="color: green"><%= notice %></p>

<h1>Teams</h1>

<div id="teams" class="flex-container">
  <% @teams.each do |team| %>
    <div class="team-card">
      <%= render team %>
      <p>
        <%= link_to "Show this team", team %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New team", new_team_path %>
