/* styles.css */

body {
    text-align: center;
}
h1, p {
    font-size: 24px;
}
.team-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    min-width: 320px;
    display: inline-block;
    text-align: left;
}
.team-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.draft-picks {
    font-size: 18px;
}
.left-aligned-list {
    text-align: left;
    margin-left: 20px;
}
