/* Flex container for teams */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}

/* Style for each team card */
.team-card {
    width: 45%; /* Adjust as needed */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* custom.css */
body {
    text-align: center;
}

h1, p {
    font-size: 24px;
}

.teams-container {
    display: flex;
    justify-content: center;
}

.team {
    margin: 0 10px;
}

.left-aligned-list {
    list-style-type: none;
    padding: 0;
}