body {
    text-align: center;
}

h1, p {
    font-size: 24px;
}

.team-card, .team-container, .team {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.team-card, .team {
    margin: 10px;
    min-width: 320px;
    display: inline-block;
}

.team-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.draft-picks {
    font-size: 22px;
}

.left-aligned-list {
    text-align: left;
    margin-left: 20px;
    list-style-type: disc;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 5px;
}

.trade-button, .button {
    color: black;
    border: 2px solid black;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.trade-button:hover, .button:hover {
    background-color: yellowgreen;
}

.team-names {
    display: inline-block;
    margin-right: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.upper-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
}