<!-- application.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Your Application</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', media: 'all' %> <!-- Include custom.css -->
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
